
.container{
    /*background-color: blue;*/
    height:100%;
    width: 100%;
    display: grid;
    grid-template-areas: ". . .""Nav Nav Nav""about . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .""main . .";
    grid-template-rows: 70px 25px 35px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    grid-template-columns: 650px 100px auto;
}
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;}
    ul{
        list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:grey;
      display:grid;
      height: 10%;
        width: 98%;
        grid-template-columns: 150px 40px 40px 40px 40px 40px 100px 40px;
        grid-template-rows: 30px;
        grid-column-gap: 30px;
        align-items: center;
        
    }
    .navbar{
        grid-area:Nav;
        border-bottom: 0.5px solid rgb(240,240,240) ;

    }
    .header{
        display: grid;
        padding: 5px;
        height: 8%;
        width: 98%;
        grid-template-columns: auto auto 500px auto;
        grid-template-rows: auto;
        margin-top: 1%;
        position:fixed;
    }
    #logo{
        width: 100px;
        height: auto;
        margin-left: 15px;
    }
    input{

        width: 580px;
        height: 10;
        font-size: 14px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align:start;
        color: black;
        border: 0.5px solid #cfcac8;
        border-radius: 25px;
        padding: 14px;
        background-image: url('Images/icon.png');
        background-repeat: no-repeat;
        background-position: 12px 12px; 
        }
        input:hover{
            border-style: groove ;
            border-width: 1px;
            box-shadow: 2px 2px 5px 4px #eef0f0;
           
        }
        #logo{
            padding: 5px;

        }
        #button{
            align-self: center;
            justify-self: end;
            width: 25px;
            height: 25px;
        }
        
        #sign{
            align-self:center;
            justify-self: end;
            height: 30px;
    width: 80px;
    border:0.5px solid rgb(240,240,240);
    background-color:#4285f4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    font-weight: bold;
    border-radius: 4px; 
    text-align: center;
}
#sign:hover{
    opacity: 0.8;
}
.nav.first{
    justify-self:end;
    border-bottom:3px solid blue;
}
.nav.second{
    justify-self: center;
    width: 50px;
    text-align: center;
}
.nav{
    justify-self: center;
    border-bottom: 3px solid rgb(240,240,240);
    
}
.nav:hover{
    color: blue;
}
#about{
    color: gray;
    grid-area: about;
    font-size: 13px;
    align-self: center;
    justify-self: center;
    margin-left: -110px;
}
.main{
grid-area:main;
justify-self:center;
margin-left: -100px;
}
span {
    color: green;
    font-size: 14px;
    text-align: start;
    position: relative;
    bottom: 10px;
}    
.submain h3{
    color: blue;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-self: end;
    margin-top: 5px;
    position:relative;
    top: 10px;
}
.submain h3:hover{
    text-decoration: underline;

}
.submain p{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 20px;
    overflow-wrap: break-word;
    display: block;
    width: inherit;
}
.submain{
    position: relative;
    margin-left:220px;
}
#second{
    grid-area:5/1/6/2;}
    #third{
        grid-area:6/1/7/2;}
            #fourth{
 grid-area:7/1/8/2;}
#fifth{
                grid-area:8/1/9/2;}
            #sixth{
                grid-area:9/1/10/2;}
                #seventh{
                    grid-area:10/1/11/2;}
                    #eighth{
                        grid-area:11/1/12/2;}
                        #ninth{
                            grid-area:12/1/13/2;}
                            #tenth{
                                grid-area:13/1/14/2;}
   
                                #eleventh{
                                    grid-area:14/1/15/2;}                    
                
                                    #twelth{
                                        grid-area:15/1/16/2;}
                                        #thirteenth{
                                            grid-area:16/1/17/2;} 
                                            #fourteenth{
                                                    grid-area:17/1/18/2;}
                                             
                      
             

    

